
/* Aquí definimos una animación keyframe con sólo dos pasos y de nombre "aparecer" */
@keyframes aparecer {
    0%{
        left: 50%;
    }
    100%{
        left: 0;
    }
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

* {
    margin: 0px;
    padding: 0px;    
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

h3 { font-size: 24px; }

p { font-size: 12px; }

div.top-header {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
}

header div.top-header p {
    position: relative;     /* position relative para que no deje de ocupar espacio en el flujo de la web, pero permita que lo movamos */
    left: -100vw;           /* Lo movemos fuera de la pantalla para que no se muestre */
    width: 100%;
    text-align: center;
    margin-top: 10px;
    animation: aparecer 500ms 1000ms 1 forwards;
    /* 
        animamos el elemento aplicando el keyframe "aparecer", 
            con duración de medio segundo, 
            delay de 1 seg.,  
            e indicamos con ¨forwards¨ que queremos que el elemento se mantenga en la posición final de la animación.
    */
}

header {
    background-color: #EAC926;
    position: fixed;                    /* Dejamos fijo el header para dejarlo visible mientras se aplica scroll */
    top: 0;                             /* Indicamos la posición donde queremos que quede fijado */
    width: 100%;
    height: 250px;                      /* Limitamos el alto del header para saber cuanto mover hacia abajo la web */
    z-index: 10;                        /* Aplicamos z-index para indicar que este elemento lo queremos en una capa diferente a la por defecto (capa 0), posicionando el header por encima de todo */
}

header div.logo,
header .form{
    width: 30%;
}

header div.logo img { width: 100%; }
header div.logo img:hover {
    animation: shake 0.5s infinite;
}

header .form {
    display: flex;
    align-items: center;
    padding: 2px;
    font-size: 11px;
}

header nav {
    font-size: 12px;
    margin-left: 20px;
    display: none;                      /* ocultamos el nav */
}

header ul li {
    list-style-type: none;
}

header ul li a {
    text-decoration: none;
    color: #000;
}

header .form .input {
    background-color: #FFF;
    border: 1px solid #000;
    outline: none;
    color: #666;
    padding: 2px;
}

header .form .submit {
    background-color: #FFF;
    border: 1px solid #000;
    color: #666;
    width: 10%;
}

div.burger-menu {
    text-align: center;
    position: relative;
}

div.burger-menu i {
    background-color: #0044AA;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 40px;
    cursor: pointer;                    /* Aplicamos que el cursor cambie sobre este elemento */
    transition: all 200ms;              /* aplicamos transition a todos los cambios de CSS que sucedan al elemento */
}
div.burger-menu i:hover {                                       /* Al pasar el mouse por encima aplicamos: */
    background-color: #1b55ac;                                /* Cambia de color */
    transform: scale(1.2) translate(0, -5px);                   /* Lo agrandamos un 20% scale(1.2) y lo trasladamos un poco hacia arriba translate()*/
    box-shadow: 0px 5px 7px 3px rgba(68, 67, 67, 0.404);      /* aplicamos una sobra amplia y dispersa */
}                                                               /* logramos un efecto que parezca que se separa  */

div.last-visit,
div.offers {
    display: flex;
    flex-wrap: wrap;
}

.price {
    font-size: 18px;
    width: 30%;
}

.discount {
    width: 70%;
}

.discount,
.description {
    font-size: 16px;
    font-weight: normal;
}

h3,
.description {
    color: #666;
}

.description {
    display: none;                      /* Ocultamos el texto description */
    margin-top: 20px;
    transition: all 300ms;
}
/* Mostramos el texto descrition cuando el article se encuentre en estado :hover */
main section article:hover h4.description { display: block; }   

.banner { margin-top: 250px; }          /* Movemos hacia abajo el primer elemento de la pagina para que no quede debajo del header */

section.banner img { width: 100%; }

/* Estilos Main de login y register */
main { margin-top: 250px !important; }      /* Con !important le decimos al navegador que esta propiedad es importante no sea pisada */

/* Estilos Main Index */
main.index { margin-top: initial; }

div.last-visit,
main {
    width: 90%;
    margin: 0 auto;                 /* Esta propiedad pisaría el margin de arriba.  */
}

main section article {
    background-color: #fff;    
    margin: 10px 0px;
    transition: box-shadow 500ms;       /* Definimos transition de medio segundo para los cambios de propiedad bpx-shadow */
}

main section article img { width: 100%; }

main section article i,
.discount {
    color: #39b54a;
}

main section article i {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    right: 20px;
    top: -15px;
}

main section h3 { margin: 20px 0px; }

main section div.products article i {
    transition: transform 1s;
}

main section div.products article:hover i{
    transform: rotate(-90deg);
}

article div.main-article {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    border-top: 1px solid #ebebeb;
    padding: 15px;
}
main section article:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
/* main section article:hover .description{
    display: block;
} */

.login input[type='submit']:hover,
.register input[type='submit']:hover {
    background-color: #0022AA;
}

@media (min-width: 361px) {
    main section div.products{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }
    
    main section div.products article {
        width: 45%;
    }

    .price,
    .discount {
        width: 50%;
    }
}

@media (min-width: 769px) {
    main section div.products article{
        width: 22%;
    }
}